<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Main Panel</title>
</head>
<header class="header">
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/">Shorti</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/panel/{{current_user.email}}/main">Panel</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/">Links</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/logout">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <body>      
    <div class="col-md-6">
        <h2>Url's</h2>
    </div>
      <div class="container">
        <section class="row">
            <div class="col-md-6">
            {% for url in urls %}
                <p>
                    <h3>Original url</h3>
                    <h6>{{url.url}}</h6>
                    <small>Your custon Url</small>
                    <input type="text" value="{{url.shorter}}" id="myInput" readonly="readonly" style="width: 300px;"> <button onclick="copyFunction('{{url.shorter}}')">Copy</button>
                    <br>
                    <img src="https://api.qrserver.com/v1/create-qr-code/?data={{url.shorter}}&amp;size=70x70" alt="" title="" />
                    <br>
                    <small>Clicks / Scans</small>
                    <label style="margin-bottom: 50px;">{{url.click}}</label>
                    <br>
                </p>
            {% endfor %}
            </div>
            <br>
            <script>
                function copyFunction(url) {
                    var copyText = url;
                    
                    navigator.clipboard.writeText(copyText).then(function(x) {
                        alert("Copied " + url) 
                    })
                }
            </script>
        </section>
    </div>
</body>
</html>


